*{
  margin: 0;
  box-sizing: border-box;
}

.contact-card{
  display: flex;
  background-color:rgb(42, 84, 104) ;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 10px 10px 25px -16px rgba(0, 0, 0, 0.75);
  color: #ffffff;
  max-width: 500px;
  max-height: 125px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 20px ;
  margin-left: 20px;
  border-radius: 10px;

}

.contact-card p {
  margin-left: 10px;
  margin-bottom: 10px;
}

button{
  margin-left: 10px;
  margin-bottom: 10px;
}